/*------------------------------------------Menú--------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
:root{
  --main-bg-color: rgba(0, 0, 0, 4);
  --main-color-text: black;
  --main-color-menu: #034574;
  --main-color-text-icon: #F5F5F5;
  --main-color-backg-icon: #034574;
}
body{
  background-color: var(--main-bg-color);
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
}
.menu{
  width: 900px;
  margin: 0 auto;
}
header {
  background: var(--main-color-menu) ;
  width: 100%;
  clear: both;
  content: '';
  display: table;
  position: fixed;
}
.logo-inicio{
  width: 50px;
  height: 50px;
  float: left;
  padding: 8px;
}
nav{
  float: right;
}
nav ul li{
  list-style: none;
  margin-left: 75px;
  padding: 12px 0;
  float: left;
}
nav ul li a{
  text-decoration: none;
  color: var(--main-color-text-icon);
  font-weight: bold;
  padding: 5px;
  position: relative;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 30px;
    float: left;
  }
nav ul li a::before{
  display: block;
  content: '';
  background: rgb(10, 87, 228);
  width: 0%;
  height: 5px;
  top: 0;
  position: absolute;
  transition: 0.8s;
}
nav ul li a:hover::before{
  width: 100%;
  transition: .5s;
  background-color: rgb(247, 0, 255);
}
/*----------------------------------------------Redes Sociales------------------------------------------------------*/
.botones{
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
.botones a{
  text-decoration: none;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: var(--main-color-backg-icon);
  color: #F5F5F5;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  margin: 5px 10px;
}
.botones a:hover{
  transform: scale(1.2);
}
/*----------------------------------------Presentación-------------------------------------------------------------*/
.contenedor img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: left;
}
/*-----------------------------------------Divisores------------------------------------------------------------*/
main{
  padding-top: 50px;
}
.contenedor{
  width: 90%;
  background-color: rgba(0, 0, 0, 4);
  margin: 20px auto;
  margin-top: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border-color: rgba(3, 119, 18, 0.836);
  border-style: solid;
}
.contenedor div section{
  align-items: center;
}
.div-experiencia{
  width: 50%;
  background-color: rgba(0, 0, 0, 4);
  margin: 20px auto;
  margin-top: auto;
  padding: 20px;
  text-align: center;
  border-color: green;
  border-style: solid;
}
.div-experiencia h2{
  margin: 10px;
}
/*---------------------------------------------Pasatiempos y Softskills----------------------------------------------*/
.link-proyectos{
  display: flex;
  justify-content: center;
}
.boton-exp{
  padding: 10px;
  margin: 10px;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 5px;
  background:#cdddec;
  text-decoration: none;
  color: black;
}
.img-experiencia{
  width: 389px;
  height: 232px;
}
.ico-pasatiempos i{
  text-decoration: none;
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: var(--main-color-backg-icon);
  color: #F5F5F5;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  margin: 5px 10px;
}
